.wrapper {
  background-color: cadetblue;
  display: flex;
  flex: 1;
  justify-content: center;
  align-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

.header {
  grid-area: h;
}

.container {
  grid-area: c;
}

.footer {
  grid-area: f;
}

.menu {
  grid-area: m;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 10rem));
  grid-template-rows: 50px auto 50px;
  grid-template-areas: 
    "h h h h h h m m m m m m"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
  background-color: white;
  margin: 5rem;
  border-radius: 5px;
  min-width: 50rem;
  max-width: 50rem;
  min-height: 25rem;
  padding: 1rem;
}
      
