.contact {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: center;
} 

.contact-form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 2px;
  padding: 0.5rem;
  justify-content: space-between;
  margin: 1rem;
  width: 20rem;
  height: 10rem;
}