.menu {
  align-self: center;
  justify-self: flex-end;
}

.menu-item {
  display: inline;
  margin: 0.2rem;
}

.menu-item a {
  text-decoration: none;
  color: black;
}

.menu-item a:hover {
  text-decoration: black underline dashed;
}
